// Custom.scss
// Option A: Include all of Bootstrap


body{
    font-size: 14px;
    background-color:f5f5f5;
    background-image:linear-gradient(326deg, #f5f5f5 100%, #f5f5f5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.body-login {
    background-color:#a4508b;
    background-image:linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.container-body{
    padding: 32px;
}

.navbar.navbar-dark.navbar-expand-md.fixed-top.scrolled {
    transition: background-color 200ms ease-out;
}
//------------------------------------------------------------------------

//TEACHER STYLE

.btn.teacher-btn{
    color: #fff;
    background-color: #1d537a;
}

.btn.teacher.btn:hover{
    background-color: #0d324d;
}

#teacher.dropdown-item.active, #teacher.dropdown-item:active {
    color: #fff;
    background-color: #0d324d;
}

#teacher.dropdown-item.hover, #teacher.dropdown-item:hover {
    color: #fff;
    background-color: #0d324d ;
}

.teacher{
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color:white;
}

//------------------------------------------------------------------------

//STUDENT STYLE

#student.dropdown-item.active, #student.dropdown-item:active {
    color: #fff;
    background-color: #6a3875;
}

#student.dropdown-item.hover, #student.dropdown-item:hover {
    color: #fff;
    background-color: #6a3875 ;
}

.student{
    background-color:#a4508b;
    background-image:linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    color:white;
}
//------------------------------------------------------------------------

//HOME PAGE

.navbar-expand-md .navbar-nav .dropdown-menu {
    border-radius:0px;
    padding:0px;
}

.header {
    padding-top: 40px;
    height:300px;
}

.header-small {
    padding-top: 40px;
    height:160px;
}

.header-auto {
    padding-top: 40px;
    height:auto;
}

.row {
    margin:0px;
}

.rounded-circle {
    height:100px;
    width:100px;
}

@media (min-width: 768px) {
    .rounded-circle {
        height:150px;
        width:150px;
    }
}

.col.tomorrow-schedule {
    border-width:20px;
    margin:20px;
    border-color:black;
    background-color:white;
    border-radius:8px;
    padding:12px;
}

.col.next-exam {
    border-width:20px;
    margin:20px;
    border-color:black;
    background-color:white;
    border-radius:8px;
    padding:12px;
}

.mini-icon {
    width:24px;
    height:24px;
}

.col.home-schedule-box {
    border-width:20px;
    margin:20px;
    border-color:black;
    background-color:white;
    border-radius:8px;
    padding:12px;
}


//------------------------------------------------------------------------

//webfont
@font-face {
    font-family: 'gilroy-extrabold';
    src: url('fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
    url('fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'gilroy-light';
    src: url('fonts/gilroy-light-webfont.woff2') format('woff2'),
    url('fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.gilroy-bold{
    font-family: 'gilroy-extrabold'
}

.gilroy-light{
    font-family: 'gilroy-light'
}

.raleway-light{
    font-family: 'raleway';
    font-weight: 500;
}

//------------------------------------------------------------------------

.vertical-align {
    display: flex;
    align-items: center;
    height: 100vh;
}

div.dropdown-menu.long-drop-down{
    
    $enable-rounded: false !default;
    min-width: 100%;
}

h1#titles{
    font-family:        'Raleway';
}

//------------------------------------------------------------------------

//navbar shadow
.navbar.navbar-expand-lg.navbar-dark.fixed-top{
    box-shadow:         0px -76px 81px 44px;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

//------------------------------------------------------------------------

//CSS for classes
#exam-alert{
    font-size: 16px;
}

.img-16rem{
    height: 200px;
    object-fit:cover;
    object-position:center;
}

//------------------------------------------------------------------------

//LOGIN PAGE
#login-row{
    padding-top:    10%;
    padding-bottom: 10%;
    height:         200px;
}

.form-control.login-form{
    width: 100%;
    font-size: 14px;
}

//------------------------------------------------------------------------

@import "bootstrap/scss/bootstrap";