// Custom.scss
// Option A: Include all of Bootstrap

$enable-rounded:            true;


.vertical-align {
    display: flex;
    align-items: center;
    height: 100vh;
}

div.dropdown-menu.long-drop-down{
   
    $enable-rounded:            false !default;
    min-width: 100%;
}

select:invalid { color: gray; }

@import "bootstrap/scss/bootstrap";